<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>org.jdesktop.wonderland.modules.isocial.weblib.servlet.ISocialContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ResourceContainer</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAudioFile</servlet-name>
        <servlet-class>org.jdesktop.wonderland.modules.standardsheet.web.resources.SaveAudioFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConvertAUFileServlet</servlet-name>
        <servlet-class>org.jdesktop.wonderland.modules.standardsheet.web.resources.ConvertAUFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourceContainer</servlet-name>
        <url-pattern>/edit/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAudioFile</servlet-name>
        <url-pattern>/saveaudiofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConvertAUFileServlet</servlet-name>
        <url-pattern>/convertaufile</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <display-name>Require Login</display-name>
        <web-resource-collection>
            <web-resource-name>Everything</web-resource-name>
            <description>All pages</description>
            <url-pattern>/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Require login</description>
            <role-name>student</role-name>
            <role-name>guide</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Require Guide</display-name>
        <web-resource-collection>
            <web-resource-name>Sheet editor</web-resource-name>
            <description>Sheet editor</description>
            <url-pattern>/edit</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Require Guide</description>
            <role-name>admin</role-name>
            <role-name>guide</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>A system administrator</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>Online guide</description>
        <role-name>guide</role-name>
    </security-role>
    <security-role>
        <description>Student</description>
        <role-name>student</role-name>
    </security-role>
</web-app>
